body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 900px;
    border: 1px solid blue;
    overflow: hidden;
}
header {
    width: 20%;
    box-sizing: border-box;  
    height: 640px;     
    line-height: 640px;              
    text-align: center; 
    color: #fff;
    background: #00BFFF;          
    float: left;
    border: 1px solid blue;
}
.info {
    float: right;
    width: 78%;
    box-sizing: border-box;
}
b {
    margin-right: 10px;
}
span {
    margin-right: 40px;
}
.item:nth-child(n + 3) span {
    display: block;
}