/* 引入字体 */
@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../font/Montserrat-ExtraLight.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
}
* {
    margin: 0;
    padding: 0;
}
body {
    /* 保证所有内容可视，取内容块中最宽的尺寸 */
    min-width: 1170px;
    font: 16px/1.5 'Montserrat-ExtraLight', Geneva, sans-serif;
    color: #141414;
  }
  /* 公用样式 */
h1, h2, h3, p {
    text-align: center;
}
   /* -------------Header区域 -----------*/
header {
    width: 100%;
    height: 990px;
    background-image: url("../images/header.png");
    background-size: cover;   /*把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。*/
    /* background-size: contain; */  /*把图像图像扩展至最大尺寸，以使其宽度和高度完全适应内容区域。*/
    /* background: 100% auto; */
    color: #fff;
}
.hd-container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 200px;
}
h1 {
    font-size: 64px;
    font-weight: normal;
    opacity: 0.8;
}
.hd-p {
    width: 770px;
    margin: 100px auto;
    font-size: 20px;
    font-weight: 100;
    opacity: 0.8;
}
.hd-account {
    width: 970px;
    height: 250px;
    margin: 100px auto;
    text-align: center;
    border: 1px solid #aaa; 
}
.hd-account h3 {
    margin-top: 50px;
}
.hd-account p {
    margin-bottom: 50px;
}
.hd-account input {
    width: 290px;
    height: 48px;
    border: 1px solid #aaa;
    background: transparent;   /*输入框背景颜色为透明*/
    /* color: inherit; */
}
.hd-sign-up {
    width: 125px;
    height: 50px;
}
/*------------PART 2------------*/
.box-sec {
    width: 100%;
    height: 710px;
}
.box-sec h4 {
    text-align: center;
    padding-top: 80px;
}
.box-sec h2 {
    width: 680px;
    margin: 20px auto 0;
    font-size: 40px;
    font-weight: normal;
}
.features {
    width: 100%;
    margin-top: 75px;
    position: relative;
}

.advantage {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    list-style-type: none;
    border: 1px solid red;
}
.item {
    float: left;
    width: 450px;
    height: 125px;
    margin-bottom: 50px;
    box-sizing: border-box;
    /* padding-left: 80px; */
    position: relative;
    border: 1px solid lime;
}
.item:nth-child(odd) {
    margin-left: 30px;
}
.item:nth-child(even) {
    margin-left: 40px;
}
.item h3 {
    position: absolute;
    top: 0px;
    left: 50px;
    font-weight: normal;
}
.item-p {
    display: block;
    position: absolute;
    top: 40px;
    left: 50px;
}
/* -------------SECTION 3---------- */
.support {
    position: relative;
    height: 800px;
    background: url("../images/Background2.png") no-repeat;
    background-size: cover;
    color: #aaa;
}
.sup-content {
    position: absolute;
    left: 200px;
    top: 150px;
    width:520px;
    height: 480px;
    border: 1px solid lightcoral;
}
.sup-content  h2{
    font-size: 42px;
    text-align: left;
    width: 390px;
}
.sup-content p{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: left;
    width: 390px;   
}
.sup-content button {
    width: 240px;
    height: 60px;
    margin-left: 10px;
    background: #fff;
}
/* section 4 */
.try {
    height: 600px;
    position: relative; 
}
.try .try-wraper {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.try h2 {
    padding-top: 100px;
    font-size: 38px;
    font-weight: normal;
}
.try .box {
    width: 280px;
}
.try h4 {
    height: 100px;
}
.singleton h4 {
    background: url(../images/Singleton.png) no-repeat center;
}
.hero h4 {
    background: url(../images/Hero.png) no-repeat center;
}
.portland h4{
    background: url(../images/Portland.png) no-repeat center;
}
.hero {
    margin-left: 100px;
    margin-right: 100px;
}
/* --------------section 5----------- */
.info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: space-between;  */
}
.info-box {
    width: 1050px;
    overflow: hidden;
    margin-top: 100px;
}
.second {
    margin-bottom: 100px;
}
.first img {
    float: left;
}
.second img {
    float: right;
}
/*------------- section 6 ------------*/
.guys h2 {
    font-size: 48px;
    margin-top: 100px;
}
.guys p {
    font-size: 24px;
    margin-top: 50px;
}
.four-guy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.guys img {
    width: 500px;
    height: 350px;
    margin-top: 50px;
}
img:nth-of-type(odd) {
    margin-right: 80px;
}
/* 倒数第二行 */
.last {
    height: 700px;
    position: relative;
}
.contact1 {
    position: absolute;
    top: 70px;
    left: 150px;
    width: 470px;
    border: 1px solid #aaa;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
}
.contact1 input, .contact1 button {
    width: 370px;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 2px;
    margin: 20px auto;
}
.contact1 button {
    background: #141414;
    color: #fff;
}
.contact1 textarea {
    width: 370px;
    height: 144px;
    border: 1px solid #aaa;
    border-radius: 2px;
    margin: 20px auto;
}
.contact2 {
    position: absolute;
    top: 70px;
    right: 150px;
    width: 470px;
    border: 1px solid #aaa;
}
.contact2 h4 {
    margin-top: 158px;
}
.contact2 .item-dl p {
    margin-top: 39px;
    
}
.contact2 span {
    width: 25px;
    height: 25px;
    display: inline-block;
}
.address span {
    background: url(../images/Map\ Icon.png) no-repeat center;
}
.phone span {
    background: url(../images/Phone\ Icon.png) no-repeat center;
}
.email span {
    background: url(../images/Mail\ Icon.png) no-repeat center;
}
.address {
    margin-top: 30px;
}
.phone {
    margin-top: 30px;
}
.email {
    margin-top: 30px;
}